* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

header {
    margin: 47px 0px 178px 42px;
}

.header-link {
    margin-right: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}

button {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background-color: #6FBF44;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.img-logo {
    width: 595.18px;
    height: 500px;
    display: inline-block;
    margin-left: 121px;
}

section {
    display: inline-block;
    margin-left: 96.83px;
}

h1 {
    width: 582px;
    height: 164px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
}

p {
    width: 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

.section-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}

.header-link:hover {
    opacity: 0.5;
}

.header-link:active {
    opacity: 0.9
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0.9;
}

.section-link:hover {
    opacity: .5;
}

.section-link:active {
    opacity: .9
}

@media screen and (max-width: 900px) {

    .wrapper {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .header-link {
        display: none;
    }

    .img-logo {
       display: none;
        
    }

    section {
        width: 100%;
        text-align: center;
      
    }

    h1 {
        width: 278px;
        height: 60px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    p {
        width: 304px;
        height: 165px;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
    }

    .header-link {
        text-align: center;
        margin-right: 0;
      }

    }





























































